<li class='dd-item dd-collapsed' data-id='<%= object.id %>' data-parent='<%= object.parent_id %>'>
  <div class = 'dd-handle'>
    <%= link_to object.name, object, class: 'dd-nodrag' %>
    <%= link_to 'Edit', edit_category_path(object), class: 'dd-nodrag' %>
    <%= link_to 'Destroy', category_path(object.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dd-nodrag' %>
  </div>
