<div class="row">
  <ul>
    <li>Name: <%= link_to category.name, category_path(category) %> |
        <%= link_to 'Show', category %> |
        <%= link_to 'Edit', edit_category_path(category) %> |
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% unless category.children.empty? %>
      <li>
        <blockquote>
          <%= render partial: category.children %>
        </blockquote>
      </li>
    <% end %>
  </ul>
</div>
