<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <title>NICHER+R</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="theme-blue">
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
      <div class="search-icon">
          <i class="material-icons">search</i>
      </div>
      <input type="text" placeholder="START TYPING...">
      <div class="close-search">
          <i class="material-icons">close</i>
      </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <%= render partial: "shared/navbar" %>
    <!-- #Top Bar -->
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <%= render partial: "shared/user_info" %>
        <!-- #User Info -->
        <!-- Menu -->
        <%= render partial: "shared/menu" %>
        <!-- #Menu -->
        <!-- Footer -->
        <%= render partial: "shared/footer" %>
        <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <h2>PAGE</h2>
        </div>
        <%= yield %>
      </div>
    </section>
    
  </body>
</html>
